<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>DOaxMfefmnVvpcxYq9r7FNjIjND8zE1H</string>
    <key>Domain</key>
    <string>dev-qm7bq3zb5ii3nn0z.us.auth0.com</string>
</dict>
</plist>